*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style: none;
  
}

body {
 background: white;
 font-family: 'Lato', sans-serif; 
}

.corra { 
  width: 1600px;
  height: 720px;
  background-image: url(.././img/corra.png);
  
}